In [ ]:
#import library

In [1]:
import pandas as pd

In [8]:
apc=pd.read_csv("D:\dataset\Adult.csv")

In [9]:
apc.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native-country,class
0,2,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,1,0,2,United-States,<=50K
1,3,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,0,United-States,<=50K
2,2,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,2,United-States,<=50K
3,3,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,2,United-States,<=50K
4,1,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,2,Cuba,<=50K

In [10]:
apc.shape

(48842, 15)

In [12]:
apc.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capitalgain', 'capitalloss', 'hoursperweek', 'native-country',
       'class'],
      dtype='object')

In [13]:
apc.info

<bound method DataFrame.info of        age         workclass  fnlwgt  education  education-num  \
0        2         State-gov   77516  Bachelors             13
1        3  Self-emp-not-inc   83311  Bachelors             13
2        2           Private  215646    HS-grad              9
3        3           Private  234721       11th              7
4        1           Private  338409  Bachelors             13
...    ...               ...     ...        ...            ...
48837    2           Private  215419  Bachelors             13
48838    4               NaN  321403    HS-grad              9
48839    2           Private  374983  Bachelors             13
48840    2           Private   83891  Bachelors             13
48841    1      Self-emp-inc  182148  Bachelors             13

           marital-status         occupation    relationship  \
0           Never-married       Adm-clerical   Not-in-family
1      Married-civ-spouse    Exec-managerial         Husband
2                Divorced  Handlers-cleaners   Not-in-family
3      Married-civ-spouse  Handlers-cleaners         Husband
4      Married-civ-spouse     Prof-specialty            Wife
...                   ...                ...             ...
48837            Divorced     Prof-specialty   Not-in-family
48838             Widowed                NaN  Other-relative
48839  Married-civ-spouse     Prof-specialty         Husband
48840            Divorced       Adm-clerical       Own-child
48841  Married-civ-spouse    Exec-managerial         Husband

                     race     sex  capitalgain  capitalloss  hoursperweek  \
0                   White    Male            1            0             2
1                   White    Male            0            0             0
2                   White    Male            0            0             2
3                   Black    Male            0            0             2
4                   Black  Female            0            0             2
...                   ...     ...          ...          ...           ...
48837               White  Female            0            0             2
48838               Black    Male            0            0             2
48839               White    Male            0            0             3
48840  Asian-Pac-Islander    Male            2            0             2
48841               White    Male            0            0             3

      native-country  class
0      United-States  <=50K
1      United-States  <=50K
2      United-States  <=50K
3      United-States  <=50K
4               Cuba  <=50K
...              ...    ...
48837  United-States  <=50K
48838  United-States  <=50K
48839  United-States  <=50K
48840  United-States  <=50K
48841  United-States   >50K

[48842 rows x 15 columns]>

In [82]:
#Number of people of each race in the dataset

In [16]:
race_Apc = apc["race"].value_counts()

In [18]:
race_Apc

White                 41762
Black                  4685
Asian-Pac-Islander     1519
Amer-Indian-Eskimo      470
Other                   406
Name: race, dtype: int64

In [19]:
filt_avage_men = (apc["sex"] == "Male")

In [20]:
average_age_men =  apc.loc[filt_avage_men, "age"].mean()

In [25]:
print("data anlysis with python freecodecamp project  {round(average_age_men, 1)} ")

data anlysis with python freecodecamp project  {round(average_age_men, 1)}

In [26]:
filt_education = (apc["education"] == "Bachelors") | (apc["education"] == "Masters") | (apc["education"] == "Doctorate")

In [28]:
higher_education = apc[filt_education]
lower_education = apc[-filt_education]

In [29]:
higher_education.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native-country,class
0,2,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,1,0,2,United-States,<=50K
1,3,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,0,United-States,<=50K
4,1,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,2,Cuba,<=50K
5,2,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,2,United-States,<=50K
8,1,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,4,0,3,United-States,>50K

In [30]:
lower_education.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native-country,class
2,2,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,2,United-States,<=50K
3,3,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,2,United-States,<=50K
6,3,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,0,Jamaica,<=50K
7,3,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,2,United-States,>50K
10,2,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,4,United-States,>50K

In [ ]:
#Percentage of people with and without undergraduate and graduate education whose wages are above USD 50K

In [33]:
apc["class"].unique()

array(['<=50K', '>50K'], dtype=object)

In [ ]:
#% of people WITH undergraduate and / or postgraduate education whose income is above USD 50K

In [34]:
higher_education_rich = (higher_education["class"] == ">50K").sum() / len(higher_education) * 100

In [37]:
print(f"The number of people WITH undergraduate and / or graduate education whose income is greater than USD 50K:{higher_education_rich} ")

The number of people WITH undergraduate and / or graduate education whose income is greater than USD 50K:46.14224902447677

In [38]:
#% of people WITHOUT undergraduate and / or postgraduate education whose income is over USD 50K

In [39]:
lower_education_rich = (lower_education["class"] == ">50K").sum() / len(lower_education) * 100

In [40]:
print(f"The number of people WITHOUT undergraduate and / or graduate education whose income is greater than USD 50K:{lower_education_rich}")

The number of people WITHOUT undergraduate and / or graduate education whose income is greater than USD 50K:17.260288558803172

In [41]:
#Minimum hours a person works

In [44]:
min_work_hours = apc["hoursperweek"].min()

In [45]:
print(f"The minimum number of hours a person works is: {min_work_hours} hs per week")

The minimum number of hours a person works is: 0 hs per week

In [53]:
#Country with the highest percentage of people earning more than USD 50K

In [63]:
apc.loc[(apc["class"] == ">50K"), "native-country"].value_counts().head()

United-States    10694
Philippines         85
Canada              63
India               62
Germany             58
Name: native-country, dtype: int64

In [61]:
apc["native-country"].value_counts().head()

United-States    43832
Mexico             951
Philippines        295
Germany            206
Puerto-Rico        184
Name: native-country, dtype: int64

In [64]:
(apc.loc[(apc["salary"] == ">50K"), "native-country"].value_counts() / apc["native-country"].value_counts()).head(15)

KeyError: 'salary'

In [ ]:
## División y ordenando de menor a mayor los resultados, 
# accediendo así al país con mayor cantidad de personas con ingresos mayores a USD 50K

In [67]:
highest_earning_country = (apc.loc[(apc["class"] == ">50K"), "native-country"].value_counts() / apc["native-country"].value_counts()).sort_values(ascending=False).index[0]

In [68]:
print(f"The country with the most people earning more than USD 50K is: {highest_earning_country}")

The country with the most people earning more than USD 50K is: France

In [69]:
#Percentage of the country with the highest number of people with incomes greater than USD 50K

In [71]:
highest_earning_country_percentage_df = (apc.loc[(apc["class"] == ">50K"), "native-country"].value_counts() / apc["native-country"].value_counts() * 100).sort_values(ascending=False)

In [72]:
highest_earning_country_percentage_df.head()

France     42.105263
India      41.059603
Taiwan     40.000000
Iran       37.288136
England    37.007874
Name: native-country, dtype: float64

In [74]:
highest_earning_country_percentage = (apc.loc[(apc["class"] == ">50K"), "native-country"].value_counts() / apc["native-country"].value_counts() * 100).sort_values(ascending=False).values[0]

In [76]:
print(f"The percentage of the country with the most people earning more than USD 50K is: {round (highest_earning_country_percentage, 1)}% ")

The percentage of the country with the most people earning more than USD 50K is: 42.1%

In [77]:
#Ocupación más popular de aquellos que ganan más de USD 50K en India

In [78]:
apc.groupby(["native-country", "class", "occupation"])["age"].count()

native-country  class  occupation
Cambodia        <=50K  Craft-repair         6
                       Exec-managerial      1
                       Machine-op-inspct    4
                       Other-service        1
                       Prof-specialty       2
                                           ..
Yugoslavia      >50K   Craft-repair         1
                       Exec-managerial      3
                       Farming-fishing      1
                       Machine-op-inspct    1
                       Other-service        2
Name: age, Length: 643, dtype: int64

In [79]:
apc.groupby(["native-country", "class", "occupation"])["age"].count().loc["India", ">50K"]

occupation
Adm-clerical         3
Craft-repair         4
Exec-managerial     12
Other-service        2
Prof-specialty      35
Sales                2
Tech-support         3
Transport-moving     1
Name: age, dtype: int64

In [80]:
top_IN_occupation = apc.groupby(["native-country", "class", "occupation"])["age"].count().loc["India", ">50K"].sort_values(ascending=False).index[0]

In [81]:
print(f"The most popular occupation in India of those who earn more than USD 50K is: {top_IN_occupation}")

The most popular occupation in India of those who earn more than USD 50K is: Prof-specialty